{% extends './layout.html' %} 

{% block title %} 
    inicio
{% endblock %}

{% block body %} 
    <nav>
        <a href="verExcel">Ver Excel</a>
        <a href="modificarExcel">Modificar Excel</a>
        <a href="crearExcel">Crear Excel</a>
    </nav>
    

    
    {% if data.estado == '200' and data.accion == 'eliminar'%}
        <h2 class = "resultado-estado-excel" >Elemento eliminado</h2>  
    {% elif data.estado == '200' and data.accion == 'agregar' %}  
        <h2 class = "resultado-estado-excel" >Elemento/s agregado/s</h2>
    {% elif data.estado == '200' and data.accion == 'agregarHoja' %}  
        <h2 class = "resultado-estado-excel" >Hoja agregada</h2>
    {% elif data.estado == '200' and data.accion == 'eliminarHoja' %}  
        <h2 class = "resultado-estado-excel" >Hoja eliminada</h2>
    {% endif %}
        
{% endblock %}



{% block scripts %}
    <script src = "{{ url_for('static', filename = 'js/layout.js') }}"> 
    </script>
{% endblock %}