{% extends './layout.html' %} 

{% block body %} 
    
    <a href="/">Volver home</a>
    {% if data.estado == '' %}
        <h1>Formulario modificar un excel Paso 1</h1>
        <form action = "{{ url_for('submit_form_modificar') }}" method = "post">
            <label for = "nombre">Nombre Excel:</label>
            <input type = "text" id = "nombre" name = "nombre" required><br><br>

            <label for = "agregar">Agregar un gasto</label>
            <input type = "radio" id = "agregar" name = "accion" value = "agregar" checked><br><br>

            <label for = "eliminar">Eliminar un gasto</label>
            <input type = "radio" id = "eliminar" name = "accion" value = "eliminar" ><br><br>

            <label for = "agregarHoja">Agregar una hoja de calculo</label>
            <input type = "radio" id = "agregarHoja" name = "accion" value = "agregarHoja" ><br><br>

            <label for = "eliminarHoja">Eliminar una hoja de calculo</label>
            <input type = "radio" id = "eliminarHoja" name = "accion" value = "eliminarHoja" ><br><br>

            <label for = "hojaCalculo" id = "hojaCalculo">Ingrese Hoja de calculo a modificar</label>
            <input type = "text" id = "hojaCalculo" name = "hojaCalculo"> <br><br>

            <input type = "submit" value = "Enviar">
        </form>
    {% elif data.estado  == '200' %}
        <h1>Si pasó</h1>     
    {% else %}
        <h1> Error {{data.estado}}: {{data.error}} </h1>
        <h1>Formulario modificar un excel Paso 1</h1>
        <form action = "{{ url_for('submit_form_modificar') }}" method = "post">
            <label for = "nombre">Nombre Excel:</label>
            <input type = "text" id = "nombre" name = "nombre" required><br><br>

            <label for = "agregar">Agregar un gasto</label>
            <input type = "radio" id = "agregar" name = "accion" value = "agregar" checked><br><br>

            <label for = "eliminar">Eliminar un gasto</label>
            <input type = "radio" id = "eliminar" name = "accion" value = "eliminar" ><br><br>

            <label for = "agregarHoja">Agregar una hoja de calculo</label>
            <input type = "radio" id = "agregarHoja" name = "accion" value = "agregarHoja" ><br><br>
            
            <label for = "eliminarHoja">Eliminar una hoja de calculo</label>
            <input type = "radio" id = "eliminarHoja" name = "accion" value = "eliminarHoja" ><br><br>

            <label for = "hojaCalculo" id = "hojaCalculo">Ingrese Hoja de calculo a modificar</label>
            <input type = "text" id = "hojaCalculo" name = "hojaCalculo"> <br><br>

            <input type="submit" value="Enviar">
        </form>
    {% endif %}
{% endblock %}


{% block scripts %}
    <script src = "{{ url_for('static', filename = 'js/paso1.js') }}"> 
    </script>
{% endblock %}