{% extends './layout.html' %} 



{% block scripts %}  
    <script src = "{{ url_for('static', filename = 'js/layout.js') }}"> </script> 

    <script src = "{{ url_for('static', filename = 'js/modal.js') }}"> </script>
{% endblock %}

{% block body %} 
        <a href="/" class = "boton-volver">
            <span class="material-symbols-outlined">
                arrow_back
            </span>
            Volver home
        </a>

        {% if data.accion == 'agregar' %}
            
            <form action="{{ url_for('submit_form_modificar_p2') }}" method="post" class = "formulario-excel">
                <h1>Formulario modificar un excel Paso 2 AGREGAR</h1>
                
                <input type="text" name = "id_excel" id = "id_excel" value = "{{data.excelId}}" hidden readonly>
                <input type="text" name = "nombre_hoja" id = "nombre_hoja" value = "{{data.nombreHojaCalculo}}" hidden readonly>
                <input type="text" name = "accion" id = "accion" value = "{{data.accion}}" hidden readonly>
                <div class = "d-flex flex-direction-column gap-1 px-3" >
                    <div class = "d-flex gap-1">
                        <label for="nombre_gasto" class = "w-45">Nombre</label>
                        <label for="precio_gasto" class = "w-45">Precio</label>
                    </div>

                    <div id = "input-container" class = "d-flex flex-direction-column gap-05">
                        <div class = "d-flex gap-1">
                            <input type="text" name="nombre_gasto" id = "nombre_gasto" placeholder = "Nombre" class = "w-45" required>
                            <input type="number" name="precio_gasto" id = "precio_gasto" placeholder="Precio" class = "w-45" required>
                            
                        </div> 
                        
                    </div>
                    
                </div>
                
                <div class = "d-flex gap-1">
                    <input type="submit" value="Enviar">

                    <button type = "button" onclick = "addInputAgregar()" class = "agregar-gasto">Agregar gasto</button>
                </div>
                

                
            </form>
        {% elif data.accion == 'eliminar' %}
            
            <form action="{{ url_for('submit_form_modificar_p2') }}" method="post" class = "formulario-excel">
                <h1>Formulario modificar un excel Paso 2 ELIMINAR</h1>
                
                <div class = "white-space-preline text-align-center overflow-y-scroll max-height-200px d-flex flex-direction-column gap-1 overflow-x-hidden"> 
                    {% for gasto in data.listaGastos %}
                        <p>Nombre Gasto: <strong>{{ gasto['Nombre Gasto'] }}</strong>, Valor: <strong>{{ gasto['Valor'] }}</strong></p>
                    {% endfor %}
                </div>
                <input type="text" name="lista_gastos" id="lista_gastos" value="{{ data.listaGastos}}" hidden readonly>
                <input type="text" name = "id_excel" value = "{{data.excelId}}" hidden readonly>
                <input type="text" name = "nombre_hoja" value = "{{data.nombreHojaCalculo}}" hidden readonly>
                <input type="text" name = "accion" value = "{{data.accion}}" hidden readonly>

                <div class = "d-flex flex-direction-column gap-1">
                    <div id = "input-container" class = "d-flex flex-direction-column gap-05">
                        <label for="nombre_gasto">Ingrese el nombre del gasto</label>
                        <input type="text" id = "nombre_gasto" name="nombre_gasto" placeholder = "Nombre" required>
                    </div>
                    
                    <div class = "d-flex justify-content-center">
                        <input type="submit" value="Enviar">
                    </div>
                    
                </div>
               

                
            </form>
        {% endif %}

        
        {% if data.estado == '400' or data.estado == '404' %}
            <div id = "overlayResultado" class = "overlay"> </div>
            <div class = "modal-resultado-container" id = "modalResultado">
                <div class = "modal-resultado-contenido-error d-flex justify-content-center align-items-center">
                    <div id = "cerrarModal" class = "cerrar-modal-resultado" >
                        <span class="material-symbols-outlined">
                            close
                        </span>
                    </div>
                    
                    <h2> Error {{data.estado}}: {{data.error}} </h2>
                </div>
            </div>
        {% endif %}

        <div id = "overlayCarga" class = "overlay" style = 'display:none;'> </div>
        <div id = "modalCarga" class = "modal-carga-container" style = 'display:none;'>
            <div class = "modal-carga-contenido d-flex justify-content-center align-items-center">
                <h3>Cargando....</h3>
            </div>
        </div>
        
{% endblock %}
