{% extends './layout.html' %} 

{% block body %} 
    <div>
        <a href="/" class = "boton-volver">
            <span class="material-symbols-outlined">
                arrow_back
            </span>
            Volver home
        </a>

        {% if data.estado == '' %}
            
            <form action = "{{ url_for('submit_form_modificar') }}" method = "post" class = "formulario-excel">
                <div class = "d-flex flex-direction-column gap-1 max-width-500">
                    <h1>Modificar excel</h1>
                    
                    <div class = "d-flex gap-1 justify-content-center"> 
                        <div class = "d-flex flex-direction-column gap-2 max-width-200 justify-content-space-between">
                            <div class = "d-flex flex-direction-column gap-05">
                                <label for = "nombre">Nombre Excel:</label>
                                <input type = "text" id = "nombre" name = "nombre" required>
                            </div>

                            <div class = "d-flex flex-direction-column gap-05">
                                <label for = "hojaCalculo" id = "hojaCalculo">Ingrese Hoja de calculo a modificar</label>
                                <input type = "text" id = "hojaCalculo" name = "hojaCalculo"> 
                            </div>
                        </div>

                        <div class = "d-flex flex-direction-column gap-1">
                            <div class = "flex-1 d-flex align-items-center justify-content-space-between gap-05 align-items-flex-end">
                                <label for = "agregar">Agregar gastos</label>
                                <input type = "radio" id = "agregar" name = "accion" value = "agregar" checked>
                            </div>
                            
                            <div class = "flex-1 d-flex align-items-center justify-content-space-between gap-05 align-items-flex-end">
                                <label for = "eliminar">Eliminar gastos</label>
                                <input type = "radio" id = "eliminar" name = "accion" value = "eliminar" >
                            </div>
                            
                            <div class = "flex-1 d-flex align-items-center justify-content-space-between gap-05 align-items-flex-end">
                                <label for = "agregarHoja">Agregar hoja calculo</label>
                                <input type = "radio" id = "agregarHoja" name = "accion" value = "agregarHoja" >
                            </div>
                            
                            <div class = "flex-1 d-flex align-items-center justify-content-space-between gap-05 align-items-flex-end">
                                <label for = "eliminarHoja">Eliminar hoja calculo</label>
                                <input type = "radio" id = "eliminarHoja" name = "accion" value = "eliminarHoja" >
                            </div>
                            
                        </div>
                    </div>    

                        
                    
                        
                    <div class = "d-flex justify-content-center">
                        <input type = "submit" value = "Enviar">
                    </div>
                </div>
            </form>
        {% elif data.estado  == '200' %}
            <h1>Si pasó</h1>     
        {% else %}
            <div id = "overlayResultado" class = "overlay"> </div>
            <div class = "modal-resultado-container" id = "modalResultado">
                <div class = "modal-resultado-contenido-error d-flex justify-content-center align-items-center">
                    <div id = "cerrarModal" class = "cerrar-modal-resultado" >
                        <span class="material-symbols-outlined">
                            close
                        </span>
                    </div>
                    
                    <h2> Error {{data.estado}}: {{data.error}} </h2>
                </div>
            </div>
            <form action = "{{ url_for('submit_form_modificar') }}" method = "post" class = "formulario-excel"> 
                <div class = "d-flex flex-direction-column gap-1 max-width-500">
                    <h1>Modificar excel</h1>
                    
                    <div class = "d-flex gap-1 justify-content-center"> 
                        <div class = "d-flex flex-direction-column gap-2 max-width-200 justify-content-space-between">
                            <div class = "d-flex flex-direction-column gap-05">
                                <label for = "nombre">Nombre Excel:</label>
                                <input type = "text" id = "nombre" name = "nombre" required>
                            </div>

                            <div class = "d-flex flex-direction-column gap-05">
                                <label for = "hojaCalculo" id = "hojaCalculo">Ingrese Hoja de calculo a modificar</label>
                                <input type = "text" id = "hojaCalculo" name = "hojaCalculo"> 
                            </div>
                        </div>

                        <div class = "d-flex flex-direction-column gap-1">
                            <div class = "flex-1 d-flex align-items-center justify-content-space-between gap-05 align-items-flex-end">
                                <label for = "agregar">Agregar gastos</label>
                                <input type = "radio" id = "agregar" name = "accion" value = "agregar" checked>
                            </div>
                            
                            <div class = "flex-1 d-flex align-items-center justify-content-space-between gap-05 align-items-flex-end">
                                <label for = "eliminar">Eliminar gastos</label>
                                <input type = "radio" id = "eliminar" name = "accion" value = "eliminar" >
                            </div>
                            
                            <div class = "flex-1 d-flex align-items-center justify-content-space-between gap-05 align-items-flex-end">
                                <label for = "agregarHoja">Agregar hoja calculo</label>
                                <input type = "radio" id = "agregarHoja" name = "accion" value = "agregarHoja" >
                            </div>
                            
                            <div class = "flex-1 d-flex align-items-center justify-content-space-between gap-05 align-items-flex-end">
                                <label for = "eliminarHoja">Eliminar hoja calculo</label>
                                <input type = "radio" id = "eliminarHoja" name = "accion" value = "eliminarHoja" >
                            </div>
                            
                        </div>
                    </div>    

                        
                    
                        
                    <div class = "d-flex justify-content-center">
                        <input type = "submit" value = "Enviar">
                    </div>
                </div>
                    
                
            </form>
        {% endif %}
    </div>


    <div id = "overlayCarga" class = "overlay" style = 'display:none;'> </div>
    <div id = "modalCarga" class = "modal-carga-container" style = 'display:none;'>
        <div class = "modal-carga-contenido d-flex justify-content-center align-items-center">
            <h3>Cargando....</h3>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src = "{{ url_for('static', filename = 'js/paso1.js') }}"> </script>

    <script src = "{{ url_for('static', filename = 'js/modal.js') }}"> </script>
{% endblock %}