{% extends './layout.html' %} 

{% block body %} 
    
    <a href="{{ url_for('limpiarSesion')}}" class = "boton-volver">
        <span class="material-symbols-outlined">
            arrow_back
        </span>
        Volver home
    </a>

    {% if dataVerExcel.estado  == '200' %}
        <div id = "overlayResultado" class = "overlay"> </div>
        <div class = "modal-resultado-container" id = "modalResultado">
            <div class = "modal-resultado-contenido d-flex justify-content-center align-items-center">
                <div id = "cerrarModal" class = "cerrar-modal-resultado" >
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </div>
                
                <div class = "d-flex flex-direction-column gap-1">
                    <h2> URL </h2>
                    <p> <a href = "{{dataVerExcel.urlExcel}}" target = "_blank"> {{dataVerExcel.nombreExcel}} </a> </p>
                </div>
                
            </div>
        </div>
        
    {% elif dataVerExcel.estado == '404' %}
        <div id = "overlayResultado" class = "overlay"> </div>
        <div class = "modal-resultado-container" id = "modalResultado">
            <div class = "modal-resultado-contenido-error d-flex justify-content-center align-items-center">
                <div id = "cerrarModal" class = "cerrar-modal-resultado" >
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </div>
                <h2>No se ha encontrado nada</h2>
            </div>
        </div>
    {% endif %}

    <form action="{{ url_for('submit_form_ver') }}" method="post" class = "formulario-excel">
        <div class = "d-flex flex-direction-column gap-1 max-width-500 interior-formulario position-relative">
            <h1>Formulario ver un excel</h1>
            
            <div class = "decorador-1 position-absolute"></div>
            <div class = "decorador-2 position-absolute"></div>

            <div class = "d-flex flex-direction-column gap-1">
                <div class = "d-flex flex-direction-column gap-05 font-sm-12">
                    <label for="nombre">Nombre Excel:</label>
                    <input type="text" id="nombre" name="nombre" required>
                </div>
            <div class = "d-flex justify-content-center">
                    <input type="submit" value="Ver excel">
            </div>
                    
            </div>
        </div>
                        
    </form>
    
    <div id = "overlayCarga" class = "overlay" style = 'display:none;'> </div>
    <div id = "modalCarga" class = "modal-carga-container" style = 'display:none;'>
        <div class = "modal-carga-contenido d-flex justify-content-center align-items-center">
            <h3>Cargando....</h3>
        </div>
    </div>

{% block scripts %}
    <script src = "{{ url_for('static', filename = 'js/modal.js') }}"> </script>
{% endblock %}
        
{% endblock %}

