* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif
}


/* Para eliminar el efecto de fondo azul en dispositivos móviles */
a {
    -webkit-tap-highlight-color: transparent;
    color: inherit;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 24
  }

.d-flex{
    display: flex;
}

.mb-1{
    margin-bottom: 1rem;
}

.flex-direction-column{
    flex-direction: column;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-space-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.gap-05{
    gap: .5rem;
}

.gap-1{
    gap: 1rem;
}

.gap-2{
    gap: 2rem;
}

.gap-3{
    gap: 3rem;
}

.gap-4{
    gap: 4rem;
}

.gap-5{
    gap: 5rem;
}

.flex-1{
    flex: 1;
}


.mt-12{
    margin-top: 7rem !important;
}

.line-height-24px{
    line-height: 24px;
}

.max-height-200px{
    max-height: 200px;
}

.overflow-hidden{
    overflow: hidden;
}

.overflow-x-hidden{
    overflow-x: hidden;
}

.overflow-y-scroll{
    overflow-y: scroll;
}

.overflow-scroll{
    overflow: scroll;
}

.white-space-preline{
    white-space: pre-line;
}

.text-align-center{
    text-align: center;
}

.px-3{
    padding: 0 1rem;
}

body{
    background-color: #A7FA73;
}

nav{
   display: flex;
   flex-direction: column;
   height: 100vh;
}


nav a{
    color: black;
    text-decoration: none;
    font-size: 48px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.boton-volver{
    color: white;
    background: #309147;
    text-decoration: none;
    padding: 10px;
    border: 5px solid #2F5237;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    gap: 1rem;
}

.boton-volver:active{
    background-color: #11D13E;
    color: black;
    border: 5px solid #309147;
}

nav a:nth-child(even){
    background-color: #A7FA73;
}

nav a:nth-child(odd){ 
    background-color: #A0CF82;
}

nav a:hover{
    color: rgb(231, 231, 231);
    background-color: #678454; 
}

nav a:active{
    color: white;
    background-color: #36462b;
}

.formulario-excel{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: .5rem 2rem;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.formulario-excel h1{
    text-align: center;
    margin-bottom: 20px;
}


.resultado-estado-excel{
    background-color: #FA737A;
    padding: .5rem 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: .5rem;
    min-height: 200px;
}

input[type = "text"], input[type = "number"]{
    border: none;
    padding: 2px 4px;
    transition: background-color 0.2s ease;
}

input[type = "text"]:focus, input[type = "number"]:focus{
    outline: none;
    background-color: rgb(228, 228, 228);
    
}

input[type = "submit"]{
    background: #567A3D;
    color: white;
    outline: none;
    border: none;
    width: 50%;
    padding: 8px 4px;
    border: 3px solid #BBCFAD;
    margin-top: 16px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

input[type = "submit"]:active{
    background: #8fc966;
    border: 3px solid #4F693C;
    color: black;
}

.agregar-gasto:active{
    background: #2f600d;
}

.agregar-gasto{
    background: #27371c;
    color: white;
    outline: none;
    width: 50%;
    padding: 8px 4px;
    margin-top: 16px;
    border: 5px solid #415434;
}


.w-45{
    width: 45%;
}


.overlay{
    width: 100%;
    position: fixed;
    top: 0;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: 2;
}

.modal-carga-container{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.modal-carga-contenido{
    background-color: #CEE3CC;
    width: 240px;
    min-height: 140px;
    border: 10px solid #8BB887;
}



.modal-resultado-container{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.modal-resultado-contenido{
    position: relative;
    background-color: #4CD465;
    padding: 1rem;
    width: 240px;
    min-height: 140px;
    border: 10px solid #56B768;
}

.modal-resultado-contenido-error{
    position: relative;
    background-color: #FA737A;
    padding: 1rem;
    width: 340px;
    min-height: 200px;
    border: 10px solid #A53737;
}

.cerrar-modal-resultado{
    position: absolute;
    right: 5px;
    top: 5px;
}

.eliminar_gasto{
    position: absolute;
    right: -20px;
    top: 0;
    max-width: 20px;
    max-height: 20px;
}

.eliminar_gasto span{
    font-size: 20px;
}

.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute;
}

.container-flecha-abajo{
    right: 0;
    bottom: 0;
    animation: mover 2s infinite alternate;
}


@keyframes mover {
    0% {
        bottom: 20px;
    }
    100% {
        bottom: 0; /* Cambia la posición vertical según sea necesario */
    }
}

.container-gasto{
    border: 4px solid transparent;
}

.gasto-agregado{
    background-color: rgb(0,0,0, 0.3);
    border: 4px solid rgb(0, 0, 0, 0.3) !important;
}

.grid-8{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
}

.max-width-200{
    max-width: 200px;
}

.max-width-500{
    max-width: 500px;
}

.align-items-flex-end{
    align-items: flex-end;
}

.width-50{
    width: 50%;
}

.interior-formulario{
    background: #49A629;
    padding: 16px;
    border: 10px solid #348A29;
    color: white;
}



.decorador-1{
    width: 150px;
    height: 150px;
    background-color: #3C2839;
    top: -1.6rem;
    right: -1.6rem;
    z-index: -1;
    border: 5px solid #685765;
}

.decorador-2{
    width: 60px;
    height: 60px;
    background-color: #913083;
    left: -1.6rem;
    bottom: -1.6rem;
    border: 5px solid #67335F;
}


@media (max-width: 390px){
    .font-sm-12{
        font-size: 12px;
    }
}
