* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

.d-flex{
    display: flex;
}

.flex-direction-column{
    flex-direction: column;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-space-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.gap-05{
    gap: .5rem;
}

.gap-1{
    gap: 1rem;
}

.gap-2{
    gap: 2rem;
}

.gap-3{
    gap: 3rem;
}

.gap-4{
    gap: 4rem;
}

.gap-5{
    gap: 5rem;
}

.flex-1{
    flex: 1;
}

body{
    background-color: #A7FA73;
}

nav{
   display: flex;
   flex-direction: column;
   height: 100vh;
}


nav a{
    color: black;
    text-decoration: none;
    font-size: 48px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.boton-volver{
    color: black;
    text-decoration: none;
    padding: 10px;
    top: 20px;
    border: 2px solid white;
    left: 10px;
    position: fixed;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

nav a:nth-child(even){
    background-color: #A7FA73;
}

nav a:nth-child(odd), .boton-volver{ 
    background-color: #A0CF82;
}

nav a:hover, .boton-volver:hover{
    color: rgb(231, 231, 231);
    background-color: #678454; 
}

nav a:active, .boton-volver:active{
    color: white;
    background-color: #36462b;
}

.formulario-excel{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: .5rem 1rem;
    background-color: #A7FA73;
    justify-content: center;
    min-height: 500px;
    margin-top: 50px;
}

.formulario-excel h1{
    text-align: center;
}


.resultado-estado-excel{
    background-color: #FA737A;
    padding: .5rem 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: .5rem;
    min-height: 200px;
}

input[type = "text"], input[type = "number"]{
    border: none;
    padding: 2px 4px;
    transition: background-color 0.2s ease;
}

input[type = "text"]:focus, input[type = "number"]:focus{
    outline: none;
    background-color: rgb(228, 228, 228);
    
}

input[type = "submit"]{
    background: #567A3D;
    color: white;
    outline: none;
    border: none;
    width: 50%;
    padding: 8px 4px;
}

input[type = "submit"]:active{
    background: #8fc966;
}

.agregar-gasto:active{
    background: #2f600d;
}

.agregar-gasto{
    background: #27371c;
    color: white;
    outline: none;
    border: none;
    width: 50%;
    padding: 8px 4px;
}


.input-paso2{
    width: 49%;
}


.overlay{
    width: 100%;
    position: fixed;
    top: 0;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: 2;
}

.modal-carga-container{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.modal-carga-contenido{
    background-color: #CEE3CC;
    width: 240px;
    min-height: 140px;
}



.modal-resultado-container{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.modal-resultado-contenido{
    position: relative;
    background-color: #4CD465;
    width: 240px;
    min-height: 140px;
}

.modal-resultado-contenido-error{
    position: relative;
    background-color: #FA737A;
    width: 240px;
    min-height: 140px;
}

.cerrar-modal-resultado{
    position: absolute;
    right: 5px;
    top: 5px;
}





